extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class='page-container')
    div(class='nav-bar')
      div(class='upper-left-nav')
        img(id='logo' src="http://localhost:8080/public/images/ring-transparent-background.png" alt="remember-the-ring-logo")
        h1(id="logo-text")
          | Remember
          br
          | the Ring
      div(class='upper-right-nav')
        a(id="log-in-button" href="http://localhost:8080/users/login") Log in
        a(id="sign-up-button" href="http://localhost:8080/users/signup") Sign Up
    div(class="body-container")
      h1 The to-do app for hobbits, orcs and everything in-between
      a(id="sign-up-free-button" href="http://localhost:8080/users/signup") Sign up free
      img(id="middle-earth-map" src="http://localhost:8080/public/images/middle-earth-map.png", alt="middle-earth-map")
//-  TODO ADD EVENTS TO ALL LINKS ON PAGE AND ADD MOBILE ADJUSTMENTS