extends layout

append head
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/lists.css")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')


    //- add page specific js
    script(src="/javascripts/index.js" type="module" defer)

block content
    div(class='page-container')
        div(class='nav-bar')
            div(class='upper-left-nav')
                p(id="welcome-user") Welcome user!
            div(class='center-nav')
                form(class="search-form" action="")
                    label(for="search")
                    input(type="text" placeholder="Search...")
                    button(id="search-button") Search
            div(class='upper-right-nav')
                a(id="sign-out-button" href="") Sign out
        div(class="body-container")
            div(class="list-sidebar")
                div(class="logo-area")
                    img(id='logo' src="http://localhost:8080/public/images/ring-transparent-background.png" alt="remember-the-ring-logo")
                    h1(id="logo-text")
                        | Remember
                        br
                        | the Ring
            div(class="list-area")
                div(class="new-task-form-container")
                    form(action="")
                        input(type="text" placeholder="Create new task...")
                        input(type="text" placeholder="Add due date...")
                        input(type="text" placeholder="Add due by time") 