doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(href="//db.onlinewebfonts.com/c/596ad608a41bd28960c777827cdd6af1?family=Apple+Chancery" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="/stylesheets/lists.css")
        link(rel="stylesheet" href="/stylesheets/lists-right-page.css")
        link(rel="stylesheet" href="/stylesheets/lists-center-page.css")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/stylesheets/user-home-list-bar.css')
        script(src='/javascripts/lists.js' type='module' defer)




div(class='page-container')
    div(class='nav-bar')
        div(class='upper-left-nav')
            div(class="logo-area")
                img(id='logo' src="../images/ring-transparent-background.png" alt="remember-the-ring-logo")
                h1(id="logo-text")
                    | Remember
                    br
                    | the Ring
        div(class='center-nav')
            form(class="search-form" action="")
                label(for="search")
                input(id="task-search-input" type="text" placeholder="Search...")
                button(class="task-search-button") Search
        div(class='upper-right-nav')
            span(id="welcome-user") Welcome #{user.firstName}
            a(id="sign-out-button" href="/users/signout") Sign out
    div(class="body-container")
        div(class="body-styling-container")
            div(class="list-sidebar")
                div(class="default-lists")
                    ul#user-lists Your Lists
                        li#all-tasks All Tasks
                        li#today-tasks Today
                        li#tomorrow-tasks Tomorrow
                        li#this-week-tasks This Week
                div(class="user-made-lists-container")
                    div(class="user-made-lists-header")
                        ul#user-made-lists Lists #[button(id="new-list-button" type="button") +]
            div(class="task-area")
                div(class="new-task-form-container")
                    div(class="new-task-error")
                    form(id="new-task-form")
                        input(type="text" name="title" placeholder="Create new task..." id="task-name-input")
                        input(type='text' name="description" placeholder='Add description' id="task-description-input")
                        div(class="date-time-container")
                            input(type="date" name="dueDate" id="task-date-input")
                            input(type="time" name="dueTime" id="task-time-input")
                            input(type="number" name="experienceReward" placeholder="xp" id="task-exp-input")
                            button(type='submit' id='new-task-submit') Submit
                    div(class="task-header-area")
                        div(class="current-task-title")
                div(class="task-list-area")
                    form(id="completed-task-form") 
                        ul(class="task-list")
            div(class="task-edit-area" id="")
            //- can add div things for task editing
            div(class="right-page-container")
                div(class="right-page-content")
                    div(id="user-level") Current level: #{user.currentLevel}
                    img(src="../images/gandalf.png" alt="gandalf-image" id="gandalf")
                    div(id="exp-bar")
                        div(id="exp" style=`width:${user.currentExp}%`)
                    div(class="task-summaries")
                        div(id="unfinished-tasks-box")
                            span(id='unfinished-tasks-num') 0
                            span unfinished
                        
