extends layout 

append head 
    link(rel="stylesheet" href="/stylesheets/login.css")

block content
    div(class="page-container")
        div(class="left-page-container")
            h2(id="gandalf-quote")
                | All we have to decide is what to do
                br
                | with the time that is given to us."
                br
                | - Gandalf the grey
        div(class="right-page-container")
            div(class="right-page-nav")
                div(class="nav-buttons")
                    a(id="home-button" href="") Home
                    a(id="sign-up-button" href="") Sign up
            div(class="right-page-body")
                form(action='/users/signup' method='post' class="form")
                    h1 Ventured here before? Log in!
                    input(type="hidden" name="_csrf" value=csrfToken)
                    label(for="email") Email
                    input(type="email" name="email" value=user.email placeholder="Email address")
                    label(for="password") Password
                    input(type="string" name="password" placeholder="Password")
                    button(id="submit-button") Log in!