@import url(//db.onlinewebfonts.com/c/596ad608a41bd28960c777827cdd6af1?family=Apple+Chancery);
@font-face {
    font-family: "Apple Chancery";
    src: url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.eot");
    src: url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.svg#Apple Chancery") format("svg");
}


.task-area {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    min-height: 95%;
    max-height: 95%;
    background-color: #FFFFFF20;
    border-radius: 10px;
    width: 757px;
}

.task-list-area {
    margin-top: 0px;
    width: 100%;
    height: 900px;
    overflow: scroll;
}
.task-list {
    width: 99%;
}

.task-list:first-child .task-display {
    border-top: 0px;
}



.task-display{
    font-size: 18px;
    padding: 10px 0px 10px 30px;
    border-top: #40404020 solid 1px;
    border-bottom: #40404020 solid 1px;
}

.new-task-form-container {
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: #40404020 solid 2px;
}

.new-task-form-container #new-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-task-form input {
    height: 40px;
    font-family: 'Apple Chancery';
    width: 550px;
    background-color: #FFFFFF60;
    border: #40404020 solid 1px;
    padding-left: 10px;
    

}

.date-time-edit-container {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.date-time-container {
    display: flex;
    height: 40px;
    width: 550px;
}

#task-name-input{
    border-radius: 10px 10px 0px 0px;
}

#task-date-input{
    height: 100%;
    min-width: 150px;
    border-radius: 0px 0px 0px 10px;
    
}

#task-time-input{
    height: 100%;
    min-width: 100px;
}

#new-task-submit {
    height: 100%;
    min-width: 150px;
    border-radius: 0px 0px 10px 0px;
    background-color: #FFFFFF60;
    border: #CDCDCD solid 1px;
    
}

#task-exp-input {
    min-width: 25px;
}

.task-header-area {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;

}

.current-task-title {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-size: 36px;
    color: #00000070;
    white-space: nowrap;

}



