@import url(//db.onlinewebfonts.com/c/596ad608a41bd28960c777827cdd6af1?family=Apple+Chancery);
@font-face {
    font-family: "Apple Chancery";
    src: url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.eot");
    src: url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.svg#Apple Chancery") format("svg");
}

body {
    font-family: 'Apple Chancery';
    background-color: #E7C087;
    height: 100vh;
    width: 100vw;
}

.page-container {
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 100%;
    width: 100%;
}

.nav-bar {
    display:grid;
    grid-template-columns: 2fr 5fr 2fr;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #341B14;
    color: #E7C087;
}

.upper-left-nav {
    display: flex;
    grid-column: 1;
    align-items: center;
    justify-content: center;
}

#welcome-user{
    font-size: 22px;
}

.center-nav {
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input {
    width: 250px;
    height: 40px;
    font-family: 'Apple Chancery';
    font-size: 18px;
}

.search-form button {
    height: 40px;
}


.upper-right-nav {
    display: flex;
    grid-column: 3;
    align-items: center;
    justify-content: left;
}

#sign-out-button {
    text-decoration: none;
    border: 2px solid #841818;
    border-radius: 3px;
    height: 50%;
    background-color: #C46928;
    padding: 5px 25px;
    margin-left: 25px;
    font-size: 18px;
}

.body-container {
    width: 100%;
    height: 100%;
}

.body-styling-container {
    display: grid;
    grid-template-columns: 235px 15fr 15fr 1fr;
    height: 95%;
    width: 95%;
    margin-top: 20px;
    background-color: #FFFFFF20;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    align-items: center;

}

.list-sidebar {
    grid-column: 1;
    display: grid;
    grid-template-rows: 150px 1fr;
    width: 155px;
    height: 95%;
    background-color: #FFFFFF20;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    padding: 10px 0px 0px 15px;
}

.list-sidebar li {
    margin-left: 15px;
}

.default-lists {
    grid-row: 1;
}

.user-made-lists-container {
    grid-row: 2;
}

.logo-area {
    display: flex;
    align-items: flex-end;
    max-width: 235px;
    justify-content: center;
}

.task-area {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 95%;
    background-color: #FFFFFF20;
    border-radius: 10px;
    width: 757px;
}

.task-list-area {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.task-list {
    padding: 30px;
}

.new-task-form-container {
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: #40404020 solid 2px;
}

.new-task-form-container #new-task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-task-form input {
    height: 40px;
    font-family: 'Apple Chancery';
    width: 500px;
    background-color: #FFFFFF80;
    border: #40404020 solid 1px;
    padding-left: 10px;
    

}

.date-time-container {
    display: flex;
    height: 40px;
    width: 500px;
}

#task-name-input{
    border-radius: 10px 10px 0px 0px;
}

#task-date-input{
    height: 100%;
    min-width: 150px;
    border-radius: 0px 0px 0px 10px;
}

#task-time-input{
    height: 100%;
    min-width: 100px;
}

#new-task-submit {
    height: 100%;
    min-width: 150px;
    border-radius: 0px 0px 10px 0px;
    background-color: #FFFFFF80;
    border: #CDCDCD solid 1px;

}

#task-exp-input {
    min-width: 25px;
}

#logo {
    max-height: 70px;
    max-width: 103.25px;
}

#logo-text {
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

.right-page-container {
    grid-column: 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.right-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    background-color: #FFFFFF20;
    border-radius: 10px;
    width: 398px;
}

#user-level {
    border-bottom: #841818 4px solid;
    margin-bottom: 20px;
}

#user-level span {
    font-size: 48px;
}

#gandalf {
    display: block;
    max-width:200px;
    max-height:350.11px;
    width: auto;
    height: auto;
}

#exp-bar {
    box-sizing: content-box;
    height: 28px;
    background-color: #e6e6e6;
    border-radius: 13px;
    width: 60%;
}

#exp {
    display: block;
    height: 100%;
    width: 0px;
    background-color: #C46928;
    border-radius: 13px 0px 0px 13px;
}

.task-summaries {
    margin-top: 30px;
    display: flex;
    width: 198px;
    height: 60px;
}

#unfinished-tasks-box {
    height: 100%;
    width: 99px;
    background-color: #841818;
    text-align: center;
    align-items: center;
    border-radius: 3px 0px 0px 3px;
}

#finished-tasks-box {
    height: 100%;
    width: 99px;
    background-color: #C46928;
    text-align: center;
    align-items: center;
    border-radius: 0px 3px 3px 0px;
}

.finished-tasks-container {
    width: 198px;
    height: 150px;
    padding-left: 15px;
}

#finished-tasks-list {
    margin-top: 15px;
    text-align: center;
}

#finished-tasks-list li{
    text-align: left;
}

li {
    list-style: circle;
}