@import url(//db.onlinewebfonts.com/c/596ad608a41bd28960c777827cdd6af1?family=Apple+Chancery);
@font-face {
    font-family: "Apple Chancery";
    src: url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.eot");
    src: url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.svg#Apple Chancery") format("svg");
}

body {
    font-family: 'Apple Chancery';
    background-color: #E7C087;
    max-height: 100vh;
    max-width: 100vw;
}

body * {
    font-family: "Apple Chancery"
}

.page-container {
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    display:grid;
    grid-row: 1;
    grid-template-columns: 2fr 5fr 2fr;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #341B14;
    color: #E7C087;
    
}


.upper-left-nav {
    display: flex;
    grid-column: 1;
    align-items: center;
    justify-content: center;
}

#welcome-user{
    font-size: 22px;
}

.center-nav {
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input {
    width: 250px;
    height: 40px;
    font-family: 'Apple Chancery';
    font-size: 18px;
}

.search-form button {
    height: 40px;
}


.upper-right-nav {
    display: flex;
    grid-column: 3;
    align-items: center;
    justify-content: left;
}

#sign-out-button {
    text-decoration: none;
    border: 2px solid #841818;
    border-radius: 3px;
    height: 50%;
    background-color: #C46928;
    padding: 5px 25px;
    margin-left: 25px;
    font-size: 18px;
}

.body-container {
    grid-row: 2;
    width: 100%;
    height: 100%;
}

.body-styling-container {
    display: grid;
    grid-template-columns: 235px 2fr 1fr 2fr 100px;
    height: 95%;
    width: 95%;
    margin-top: 20px;
    background-color: #FFFFFF20;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    align-items: center;
}

.list-sidebar {
    grid-column: 1;
    display: grid;
    grid-template-rows: 150px 1fr;
    width: 200px;
    height: 95%;
    background-color: #FFFFFF20;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    padding: 10px 0px 0px 15px;
    word-break: normal;
}

.list-sidebar li {
    margin-left: 15px;
}


.default-lists {
    grid-row: 1;
}

.user-made-lists-container {
    grid-row: 2;
}

.user-made-lists-header {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
}

#new-list-button {
    display: inline-flex;
    font-family: sans-serif;
    border-radius: 3px;
    border: none;
    background-color: #C46928;
    align-items: center;
    font-size: 10px;
    height: 15px;
    width: 15px;
    justify-content: center;
    padding-bottom: 2.5px;
    color: #E7C087;
    margin-left: 5px;
}

.logo-area {
    display: flex;
    align-items: flex-end;
    max-width: 235px;
    justify-content: center;
}


#logo {
    max-height: 70px;
    max-width: 103.25px;
}

#logo-text {
    font-size: 18px;
}

h1 {
    font-size: 36px;
}



li {
    cursor: pointer;
    list-style: none;
}

.hide-pop-up {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF60;
    animation: fadein 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadein {
    from {
        background-color: #FFFFFF00;
    }
    to {
        background-color: #FFFFFF60;
    }
}

.new-list-window {
    position: absolute;
    height: 250px;
    width: 375px;
    border: #841818 3px solid;
    border-radius: 10px;
    background-color: #E7C087;
    animation: dropdown 1s cubic-bezier(1,1.27,.49,.99);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px black;
}

.new-list-window form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-list-window input {
    width: 275px;
    height: 35px;
    border-radius: 3px;
    border: none;
    margin-bottom: 15px;
}

.new-list-window p {
    font-size: 22px;
}

.new-list-window div {
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.new-list-window button {
    height: 35px;
    width: 75px;
    border-radius: 3px;
    color: #E7C087;
}

.new-list-submit {
    background-color: #C46928;
    border: none;
}

.cancel-list-submit {
    background-color: #841818;
    border: none;
}
@keyframes dropdown {
    from {
        margin-bottom: 150%;
    }
    to {
        margin-bottom: 0%;
    }
}

.task-edit-area {
    grid-column: 3;
}

.task-edit-area input {
    height: 40px;
    font-family: 'Apple Chancery';
    background-color: #FFFFFF60;
    border: #40404020 solid 1px;
    padding-left: 10px;
}

.task-edit-area {
    background-color: #FFFFFF40;
    height: 30%;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    animation: slidein 0.7s cubic-bezier(.55,1.39,.87,1.01);
}


#form-edit {
    margin-left: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-edit input {
    width: 100%;
    color: #00000090;
}

#form-edit button {
    width: 100%;
    height: 30px;
    font-size: 18px;
    padding-bottom: 15px;
    color: #000000;
    color: #E7C087;
}

.task-edit-update-button {
    background-color: #C4692896;
    border: #C4692896;

}

.task-edit-delete-button {
    background-color: #84181896;
    border: #84181896;
    border-radius: 0px 0px 3px 3px;
}

#task-name-edit { 
    border-radius: 3px 3px 0px 0px;
}


/* .task-edit-div {
    animation: slidein 0.7s cubic-bezier(.55,1.39,.87,1.01);
} */

@keyframes slidein {
    from {
        width: 0%;
    }
    to {
        width: 100%;

    }

}

#task-complete-button {
    width: 90px;
    height: 30px;
    grid-area: 1;
    align-self: center;
    justify-self: left;
    margin-left: 25px;
    background-color: #C46928;
    border-radius: 3px;
    border: #C46928 1px solid;
    color: #E7C087;
}


@keyframes task-edit-slide {
    from {
        width: 0%;
        visibility: hidden;
    }
    
    1% {
        visibility: visible;
    }

    to {
        width: 100%;
    }
}

.new-list-window span {
    color: red;
}

.new-list-window p {
    text-align: center;
    width: 75%;
}

.user-li-div {
    display: flex;
    justify-content: left;
}


.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: #841818;
    /* border: #841818 2px solid; */
    height: 60px;
    width: 100px;
    margin-top: -16px;
    border-radius: 3px;
    padding: 3px 10px 8px 10px;
    color: #E7C087;


}

.dropdown-content div {

}

.dropdown-div {
    position: relative;
    display: inline-block;
}