
.user-li-div {
    display: flex;
    justify-content: space-between;
}

/* 
.user-li-dropdown {

}

*/

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: none;
    width: 120px;
    height: 50px;
}